python-dotenv
langchain
openai
pinecone
unstructured
tabulate
pdf2image
streamlit
tiktoken
langchain_community
langchain_pinecone
langchain_openai
unstructured 
langchain-text-splitters
pinecone
pinecone-plugin-assistant
streamlit-paste-button
